<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" th:href=@{/css/Home.css}>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.png}">
</head>
<body>
    <div class="content">
        <div class="centered-text">
            <h1>Welcome to</h1>
            <img src="/Images/logoname.png" alt="logo">
            <p>In this generation we need a Vehicle to travel around the world, So let choose your <span>Car</span> that makes your destiny quick and safe.</p>
            <q>Feel the Pulse of Precision</q>
        </div>
        <button type="submit" class="continue"><span><a th:href=@{/nivak/cars/login}>Goto Login</a></span></button>
    </div>
</body>
</html>